{% load staticfiles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<script src="http://code.jquery.com/jquery-1.4.min.js"></script>
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js" type="text/javascript"></script>

     
<script type="text/javascript" src="{% static 'users/js/ajaxSetup.js' %}"></script>
<center>
    <div style="padding-left: 15px; width:90%;" class="w3-row-padding w3-margin-bottom">
        <div id="tabs" style="margin-top: 25px;">
        <br>
        <strong> CITY : </strong> {{ cityName }}
        <div id="noOfUsers"></div>        
        <div class="graph-heading" id="group-heading">
            <strong>Predictions on the basis of Last 7 Days ... </strong>
        </div>
        <div id="tabs-1">
            <div class="container5">
                <div class="div-canvas" id="con1" style="max-width: 1000px;">
                    <canvas id="avgGraph" style="height: 100px, width: 100% !important;"></canvas>
                </div>
            </div>
        </div>
            <div id="predictionsMessage"></div>
        </div>
    </div>
</center>


<script>
        function getPredictionsData()
        {
            cityID = JSON.parse('{{cityID}}');
            $.ajax({
                url: "{% url 'users:cityData' %}",
                type: "POST",
                dataType: 'json',
                data: { 'cityID': cityID, "csrfmiddlewaretoken": '{{ csrf_token }}' },
                success: data => {

                    console.log(data); 
                    var ctx1 = document.querySelector("#avgGraph").getContext('2d');
                        var myChart1 = new Chart(ctx1, {
                            type: 'bar',
                            responsive: false,
                            width: 50,
                            height: 50,
                            data: {
                                labels: ["Drinking Water", "Plant Water", "Car Water", "Bathing Water"],
                                datasets: [{
                                    label: "in Litres",
                                    data: data.data,
                                    fill: true,
                                    lineTension: 0.1,
                                    backgroundColor: ['Red', 'Green', 'Pink', 'Blue'],
                                    borderColor: "rgba(251, 220, 19, 1)",
                                    borderCapStyle: 'butt',
                                    borderDash: [],
                                    borderDashOffset: 0.0,
                                    borderJoinStyle: 'miter',
                                    pointBorderColor: ['Red', 'Green', 'Pink', 'Blue'],
                                    pointBackgroundColor: "#fff",
                                    pointBorderWidth: 1,
                                    pointHoverRadius: 5,
                                    pointHoverBackgroundColor: ['Red', 'Green', 'Pink', 'Blue'],
                                    pointHoverBorderColor: "rgba(220,220,220,1)",
                                    pointHoverBorderWidth: 2,
                                    pointRadius: 1,
                                    pointHitRadius: 10,

                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                
                    var predictionsMessage = '<table style="width: 60%"><tr><td>Drinking Water</td><td>'+data.data[0]+'</td></tr><tr><td>Plant Water</td><td>'+data.data[1]+'</td></tr><tr><td>Car Water</td><td>'+data.data[2]+'</td></tr><tr><td>Bathing Water</td><td>'+data.data[3]+'</td></tr></table>';
                    document.getElementById('predictionsMessage').innerHTML = predictionsMessage;

                    var noOfUsers = '<center>No. of USERS : '+ data.noOfUsers +'</center>';
                    document.getElementById('noOfUsers').innerHTML = noOfUsers;

                },
                error: data => {
                }
            });
        }

        $(function () {
            getPredictionsData();
        });
</script>